.music {
	margin: 5px;
}

button {
	display: block;
}

.remove {
	display: inline;
	border-radius: 9999px;
	background-color: red;
	border: 0;
}

#sending {
	background-color: #00000088;
}

input {
	width: 100px;
}

label {
	position: relative;
}

label:has(input:invalid)::after {
	content: "必須項目です";
	color: red;
	position: absolute;
	top: 0px;
	right: 50px;
	font-size: 10px;
}

input:invalid {
	background-color: #fff;
	border-color: #f00;
}