.music {
	margin: 5px;
}

button {
	display: block;
}

.remove {
	display: inline;
	border-radius: 9999px;
	background-color: red;
	border: 0;
}

#sending {
	background-color: #00000088;
}

input:invalid {
	background-color: #fff;
	border-color: #f00;
	position: absolute;
}

label:has(input:invalid)::after {
	content: "必須項目です";
	color: red;
	position: relative;
	bottom: calc(1em - 1px);
	left: 1px;
	font-size: 10px;
}