.right {
    text-align: right;
}

.nolink {
    pointer-events: none;
}

.nolink span {
    -webkit-text-decoration: line-through black;
    text-decoration: line-through black;
}

.title {
    width: 100%;
    color: red;
    margin-top: 25px;
}

.links {
    width: fit-content;
    display: flex;
    flex-shrink: 1;
    min-width: 0;
    gap: 20px;
    justify-content: center;
    text-align: center;
    height: fit-content;
    margin-top: 30px;
}

#content1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tokokitahp {
    width: 128px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 18px;
    background-color: aquamarine;
    border-radius: 9999px;
    text-decoration: none;
    color: black;
    text-align: center;
}

.tokokitahp a {
    width: 100%;
    color: black;
    text-decoration: none;
}

.youtube {
    width: 128px;
    height: 30px;
    border-radius: 9999px;
    background-color: red;
    display: grid;
    place-items: center;
}

.youtube a {
    width: 100%;
    text-decoration: none;
    color: white;
    text-align: center;
}

.twitter {
    width: 128px;
    background-color: black;
    border-radius: 9999px;
    height: 30px;
    text-decoration: none;
    display: grid;
    place-items: center;
    text-align: center;
}

.twitter a {
    width: 100%;
    vertical-align: middle;
    color: white;
    text-align: center;
    width: 100%;
    line-height: 100%;
}

.title h1 {
    margin-bottom: 0px;
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1%;
    text-align: center;
}

#content2 {
    width: min(400px, 80%);
}

#sitemap {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#sitemap table {
    width: 100%;
    border: solid 2px black;
    border-collapse: collapse;
}

#sitemap td {
    width: 100%;
    border: solid 1px black;
    padding: 10px 5px;
}

.button-parent {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}

@media all and (min-width:500px) {

    /*PCなど　500~*/
    .links {
        flex-direction: row;
    }

}

@media (max-width:500px) {

    /*スマートフォンなど　~500*/
    .links {
        flex-direction: column;
    }

}

/*ここからポップアップ*/
.open {
    cursor: pointer;
}

.button {
    display: block;
    height: 30px;
    font-size: 16px;
    margin: 5px;
    color: black;
    background-color: lightgrey;
    padding: 3px 15px;
    border-radius: 9999px;
}

#pop-up {
    display: none;
}

.overlay {
    display: none;
}

#pop-up:checked+.overlay {
    display: block;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 9997;
    background-color: rgba(0, 0, 0, 0.6);
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 90vw;
    max-width: 640px;
    padding: 20px;
    height: fit-content;
    max-height: 90vh;
    max-height: 90dvh;
    background-color: #fff;
    border-radius: 4px;
    align-items: center;
    transform: translate(-50%, -50%);
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.pop-up-content {
    height: fit-content;
    width: 90%;
}

.window h4 {
    font-size: 1.5em;
}

.window h5 {
    font-size: 1.0em;
}

.close {
    position: absolute;
    top: 4px;
    right: 4px;
    cursor: pointer;
}

.close2 {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
}

