/*! destyle.css v4.0.0 | MIT License | https://github.com/nicolas-cusan/destyle.min.css */
 *,
::before,
::after {
    /* box-sizing: border-box;
    border-style: solid;
    border-width: 0; */
    font-family: Arial, sans-serif;
} 

html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
    overflow: auto;
        
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
}

main {
    display: block;
}
.main{
    padding-top: 5px;
    padding-bottom: 10px;
}

hr{
    border-style: inset;
    border-width: 1px;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
    margin: 0
}
