.open {
	cursor: pointer;
}

.button {
	justify-content: center;
	align-items: center;
	text-align: center;
	display: flex;
	height: 30px;
	font-size: 16px;
	margin: 5px;
	color: black;
	background-color: lightgrey;
	padding: 0px 15px;
	border-radius: 9999px;
}

.popUp {
	display: none;
}

.overlay {
	display: none;
}

.popUp:checked+.overlay {
	display: block;
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: 9997;
	background-color: rgba(0, 0, 0, 0.6);
}

.window {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 90vw;
	max-width: 640px;
	padding: 20px;
	height: fit-content;
	max-height: 90vh;
	max-height: 90dvh;
	background-color: #fff;
	border-radius: 4px;
	align-items: center;
	transform: translate(-50%, -50%);
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

.popUpContent {
	height: fit-content;
	width: 90%;
}

.window h4 {
	font-size: 1.5em;
}

.window h5 {
	font-size: 1.0em;
}

.close {
	position: absolute;
	top: 4px;
	right: 4px;
	cursor: pointer;
}

.close2 {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	z-index: -1;
}