.main {
    padding: 10px
}

#category {
    padding-left: 10px;
    font-size: 14px;
    margin: 5px 0px;
}

#category li {
    display: inline-block;
    border-width: 1px;
    padding: 3px;
    border-radius: 6px;
    background-color: lightgray;
    margin-right: 10px;
}

#title {
    margin-top: 5px;
    margin-left: 10px;
}

code[class*='language-'],
pre[class*='language-'] {
    white-space: pre-wrap !important;
}

:not(pre)>code {
    background-color: lightgray;
    padding: 3px 10px;
    margin: 3px;
    border-width: 1px;
    border-radius: 4px;
    border-color: gray;
}

blockquote {
    margin: 0.5em 0;
    max-width: 500px;
    padding: 1em 1.5em;
    border-left: 4px solid #d6dde3;
    color: #333333;
}

blockquote:has(cite) {
    padding-bottom: .5em;
}

blockquote p {
    margin-top: 0;
}

blockquote cite {
    display: block;
    color: #737373;
    font-size: .8em;
    text-align: right;
}

th {
    background-color: lightgray;
}

.table-wrapper {
    overflow-x: scroll;
}

table {
    margin: 0.5em;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
    white-space: nowrap;
}

th {
    border: solid 1px;
    padding: 2px 8px;
}

td {
    border: solid 1px;
    padding: 2px 8px;
}

tr {
    padding: 0;
    margin: 0;
}

p {
    margin: 0;
    padding: 0;
}

#top {
    width: fit-content;
    height: fit-content;
    background-color: #ffffff00;
}

#top div {
    border-radius: 9999px;
    background-color: #000000;
    height: 4em;
    aspect-ratio: 1;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

#top div span {
    text-align: center;
    justify-content: center;
    padding-bottom: 1px;
    font-weight: bold;
    color: #1cf8fd;
    text-decoration: none;
}

#top-wrapper {
    display: flex;
    justify-content: right;
}