
.main{
    padding:10px
}

#category {
    padding-left: 10px;
    font-size: 14px;
    margin: 5px 0px;
}

#category li {
    display: inline-block;
    border-width: 1px;
    padding: 3px;
    border-radius: 6px;
    background-color: lightgray;
    margin-right: 10px;
}

#title {
    margin-top: 5px;
    margin-left: 10px;
}