#article li{
    list-style:none;
    font-size:20px;
    border-width:1px;
    border-style:solid;
    border-color:black;
    margin:3px;
    height:60px;
    overflow: hidden;
    white-space: nowrap;
  }
  #article li a{
    color:black;
    text-decoration:none;
  }
  