/* #form :user-invalid {
    position: relative;
    border-color: red;
    outline-color: red;
}

#form label:has(:user-invalid)::after {
    content: "入力してください";
    display: block;
    color: red;
} */

#form:has(:invalid) div:has(#post) {
    display: block;
    cursor: not-allowed;
    width: min-content;
}

#form:has(:invalid) #post {
    display: block;
    pointer-events: none;
    opacity: 0.4;
}

/* メニューの中身 */
.bbsmenu {
    display: none;
    position: absolute;
    background-color: white;
    top: 16px;
    left: 0;
    width: 160px;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    padding: 3px 0px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, .5);
    z-index: 30000;
}

.bbsmenu button {
    display: block;
    background-color: white;
    border: none;
    margin: 0;
    width: 100%;
    text-align: left;
    color: black;
}

.bbsmenu button:hover {
    background-color: lightgray;
}

.menuon .bbsmenu {
    display: block;
}

/* ポップアップ(アンカー用) */
#overray {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: #0008;
    align-items: center;
    justify-content: center;
}

#popup {
    display: block;
    text-align: left;
    padding: 10px;
    background-color: white;
    min-height: 50px;
    max-width: calc(100vw - 16px);
    width: 620px;
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    box-shadow: 0 0px 18px 0 #555;
}

#popup>div {
    position: relative;
    padding-right: 16px;
}

/* 送信時エフェクト */
#loading-wrapper {
    position: fixed;
    background-color: #0008;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

#loading-text {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    width: 100px;
    height: 30px;
    margin: -7px 0 0 -45px;
    text-align: center;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
}

#loading-content {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 170px;
    height: 170px;
    margin: -85px 0 0 -85px;
    border: 3px solid #F00;
}

#loading-content:after {
    content: "";
    position: absolute;
    border: 3px solid #0F0;
    left: 15px;
    right: 15px;
    top: 15px;
    bottom: 15px;
}

#loading-content:before {
    content: "";
    position: absolute;
    border: 3px solid #00F;
    left: 5px;
    right: 5px;
    top: 5px;
    bottom: 5px;
}

#loading-content {
    border: 3px solid transparent;
    border-top-color: #4D658D;
    border-bottom-color: #4D658D;
    border-radius: 50%;
    -webkit-animation: loader 2s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 2s linear infinite;
}

#loading-content:before {
    border: 3px solid transparent;
    border-top-color: #D4CC6A;
    border-bottom-color: #D4CC6A;
    border-radius: 50%;
    -webkit-animation: loader 3s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
    animation: loader 3s linear infinite;
}

#loading-content:after {
    border: 3px solid transparent;
    border-top-color: #84417C;
    border-bottom-color: #84417C;
    border-radius: 50%;
    -webkit-animation: loader 1.5s linear infinite;
    animation: loader 1.5s linear infinite;
    -moz-animation: loader 2s linear infinite;
    -o-animation: loader 2s linear infinite;
}

@-webkit-keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loader {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}