#view {
    margin-left: 7px;
    margin-top: 7px;
    width: 95%;
    max-width: 600px;
}
#view div{
    position: relative;
}
#view div #num {
    color: red;
}

.postdate,.id{
    font-size: 12px;
}
.content{
    margin:6px;
    margin-left: 16px;
}
#post{
    width: 48px;
    height:25px;
    line-height: 25px;
    border-radius: 5px;
    margin: 15px 5px;
    color: white;
    background-color: #1cf8fd;
}

/*メニューボタン*/
#view div .menubutton {
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    background: none;
}

.bbsmenu {
    display: none;
    position: absolute;
    background-color: white;
    top: 16px;
    left: 0;
    width: 160px;
    border-style: solid;
    border-radius: 5px;
    border-width: 0px;
    padding: 3px 0px;
    box-shadow: 0 0px 6px 0 rgba(0, 0, 0, .5);
}

.bbsmenu button {
    background-color: white;
    border: none;
    margin: 0;
    width: 100%;
    text-align: left;
    color: black;
}

.bbsmenu button:hover {
    background-color: lightgray;
}

.menuon .bbsmenu {
    display: block;
}


#message{
    resize: none;
    max-width: 95vw;
    width: 400px;
    height: 100px;
}